/* this is frist assignments */
/* body {
    counter-reset: my-sec-counter;
    box-sizing: border-box;

}
div {
    margin: 10px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    this is old feacher
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    background-color: #eee;
    display: inline-block;
    position: relative;
    box-shadow: 8px 5px 0px rgb(22 191 197), -7px -5px 0px rgb(233 30 99);
    border: 2px solid #000;


}
div::after{
    content: "ELement";
    position: absolute;
    bottom: 46%;
    left: 19px;
}
div::before {
    left: 43px;
    counter-increment: my-sec-counter;
    content: counter(my-sec-counter);
    position: absolute;
    top: -7px;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    width: 19px;
    height: 19px;
} */
/* this is second assignments */
/* 
div {
    margin-top: 9%;
    margin-left: 50%;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #eee;
    border-radius: 50%;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: inset 2px 2px 20px 0px #000;
} */
/* this is theree assignments */

#parent {
   width: 550px; 
   height: 550px
}
#one-chaild {
   background-color: #eee;
   width: 40%;
   height: 44%;
   position: relative;
}
#one-chaild::before {
    position: absolute;
    content:'free';
    background-color: rgb(189 189 189 / 63%);
    top:25%;
    left: 20%;
    padding: 58px;
    border-radius: 50%;
    color:#000
}
#one-button {
    width: 94%;
    margin-left: 3%;
    background-color: #00c1f4b8;
    height: 13%;
    border-radius: 6px;
    margin-top: 11px;
    color: #fff;
    border: solid 1px #42cdf2;

}
#one-chaild::after {
    
    content: '';
    position: absolute;
    background-color: #42cdf2;
    width: 1px;
    height: 100%;
    left: 107%;
    top: 0px;
}
#two-chaild::after {
    content: "or";
    left: -12%;
    width: 13px;
    background-color: #42cdf2;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    padding: 3px;
    top: 47%;
}
#two-chaild {
    background-color: #eee;
    width: 40%;
    height: 44%;
    position: relative;
    left: 46%;
    margin-top: -94px;
    bottom: 148px;
}
 #two-chaild::before {
     position: absolute;
     content:'30%';
     background-color: rgb(189 189 189 / 63%);
     top:25%;
     left: 20%;
     padding: 58px;
     border-radius: 50%;
     color:#000
}
#two-button {
    border-width: 20px;
    border-style: solid;
    border-color: #ddd transparent transparent transparent;
    top: 37.5%;
    left: 50%;

}