                                    /* this is frist task */
/* div {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 50%;
    border: solid 7px #f31d59;
    border-top: transparent solid 7px;
    position: relative;
    margin: 50px auto;
    transition: .5s;
    animation-name: move ;
    animation-iteration-count: infinite;
    animation-duration: 1s ;
    animation-timing-function: linear;
    animation-play-state: running;
}
@keyframes move {
    0% {
        transform: rotate(0deg);
        transform: rotate(360deg);
    }
    100% {
    }
}
div::after {
    content: "";
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: #1d90fe 7px solid;
    position: absolute;
    border-top: transparent solid 7px;
    transform: rotateZ(
175deg
);
}
div::before { 
    content: "";
    width: 90px;
    height: 90px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    border: 7px solid #fc9a00;
    border-left: transparent solid 7px;
}
div:hover {
    animation-play-state: paused;
} */

/* 
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
div {
  position: relative;
  width: 200px;
  height: 200px;
  font-size: 2em;
  font-weight: bold;
  transition: transform 1s;
  transform-style: preserve-3d;
  perspective: 300px;
}
div::after,
div::before{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backface-visibility: hidden;
  display: grid;
  place-content: center;
}
div::before {
  content: "Front";
  background: #fa3664;
}
div::after {
  content: "Back";
  background: #1692fc;
  transform: rotateY(180deg);
}
div:last-of-type::after{
  transform: rotateX(180deg);
}
div:hover {
  transform: rotateY(180deg);
}
div:last-of-type:hover {
  transform: rotateX(180deg);
}
 */
  
                                     /* this is second task */
/* div {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
     // place-content:cenet//
    background-color: transparent;
    border-radius: 50%;
    border: solid 7px #1d90fe;
    border-bottom: transparent solid 7px;
    position: relative;
    margin: 50px auto;
    transition: .5s;
    animation-name: move ;
    animation-iteration-count: infinite;
    animation-duration: 1s ;
    animation-timing-function: linear;
    animation-play-state: paused;
}
@keyframes move {
  100% {
        transform: rotate(0deg);
        transform: rotate(360deg);
    }
    0% {
    }
}
div::after { 
  content: "";
  width: 70px;
  height: 70px;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  border: 7px solid #fcb400;
  border-bottom: transparent solid 7px;
  animation-name: after;
  animation-duration:2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
}
div:hover::after {
animation-play-state: running;

}
@keyframes after {
100% {
  transform: rotate(0deg);
  transform: rotate(360deg);
}
0% {
}
}
div:hover:before {
animation-play-state: running;

}
div::before { 
    content: "";
    width: 90px;
    height: 90px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    border: 7px solid #000;
    border-bottom: transparent solid 7px;
    animation-name: before;
    animation-duration:1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
}
div:hover:before {
  animation-play-state: running;

}
@keyframes before {
  100% {
    transform: rotate(0deg);
    transform: rotate(360deg);
}
0% {
}
}
div:hover:before {
  animation-play-state: running;

}

div:hover {
    animation-play-state: running;
} */

                                     /* this is three task */
/* span {
  width: 50px;
  height: 50px;
  position: relative;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 8px solid #000;
  border-radius: 50%;
  border-left: 8px transparent solid;
  animation: crazy 1s linear .5s infinite ;
}

@keyframes crazy {
  0% {
    transform: rotate(0deg);
    transform: rotate(360deg);
}
110% {
}
} */
                                     /* this is four task */
body            
{
    margin:auto;
    padding:10px;
    background-color:#fff;
    font-size:14px;
    font-family:Verdana;
}
.grid-template {
  width : 590px ;
  height : 590px ;
  margin : auto ;
  display : grid ;
  grid-template : repeat( 8 , 1fr) / repeat( 8 , 1fr);
  gap : 20px
}
.grid-template > div {
  background-color: #323234;
  position: relative;
}
/*grid-row-start :1
  grid-column-start :1 
  grid-row-end : 5 
  grid-column-end 1 */
.grid-template > .one {grid-area: 1 / 1/ 8 / 1}
.grid-template > .tow { grid-area: 4 / 1/ 5 / 6}
.grid-template > .three { grid-area:1 / 1 / 1 / 6}
.grid-template > .four {grid-area:7 / 1 / 7 / 6 }
.grid-template > .five {grid-area: 1 / 6 / 8 / 6}
.grid-template > .six {grid-area: 7 / 6 / 7 / 9 }
/* animation for E */
.grid-template::before {
  left: -140px;
  content: "";
  position: relative;
  width: 38px;
  height: 40px;
  background-color: #fea604;
  z-index: 1;
  top: 8px;
  animation: one-animation 9s 1;
  animation-delay: 5s;
}
@keyframes one-animation {
  10% { transform : translate( -308px , 0px )}
  15% { transform: translate( -308px , 229px )}
  20% { transform: translate( 0px , 229px )}
  30% { transform: translate( -308px , 229px )}
  40% { transform: translate( -308px , 459px )}
  50% { transform: translate( 0px , 459px )}
  60% {transform: translate( -308px , 459px )}
  70% {transform: translate( -308px , 229px )}
  80% {transform: translate( 0px , 229px )}
  85% {transform: translate( -308px , 229px )}
  90% {transform: translate( -308px , 0px )}
  100% {transform: translate( 0px , 0px )}
}
/* animation for l */
.grid-template >.six::after {
  content: "";
  left: 163px;
  position: absolute;
  width: 38px;
  height: 40px;
  background-color: #fea604;
  z-index: 1;
  top: 9px;
  opacity: 0;
  animation: tow-animation 5s 1;
}
@keyframes tow-animation {
0%{ 
    transform: translate(0);
    opacity : 1 ;
}
20% { transform : translate(-153px, 0px); }
50% { transform : translate(-153px, -458px); }
80% { 
    transform : translate(-153px, -458px); 
    opacity : 1 ;
      }
100% { 
    transform : translate(-153px, -458px);
    opacity : 0 ;
}
}